@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

#msg-box4-38 .mbr-section-title {
  color: #dbef09;
  font-size: 46px;
}
#msg-box4-38 .lead P {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
#menu-1 .navbar-toggler {
  color: black;
}
#footer1-30 P {
  text-align: center;
  color: #eff200;
  font-size: 17px;
}
#msg-box1-14 H2 {
  text-align: center;
  color: #eff200;
  font-size: 36px;
}
#menu-15 .navbar-toggler {
  color: #fff8e0;
}
#features1-18 H4 {
  text-align: right;
  color: #000000;
}
#footer1-30 P {
  text-align: center;
  color: #eff200;
  font-size: 17px;
}
#menu-1i .navbar-toggler {
  color: #fff8e0;
}
#msg-box1-1m H2 {
  text-align: center;
  color: #eff200;
  font-size: 36px;
}
#footer1-30 P {
  text-align: center;
  color: #eff200;
  font-size: 17px;
}
#slider-35 H2 {
  color: #ffffff;
  text-align: right;
}
#slider-35 .btn {
  font-size: 30px;
}
#slider-35 P {
  color: #ffffff;
  font-size: 60px;
}
#slider-35 B {
  color: #ffffff;
  font-size: 60px;
}
#msg-box1-2x H2 {
  text-align: center;
  color: #eff200;
  font-size: 36px;
}
#menu-1v .navbar-toggler {
  color: #fff8e0;
}
#contacts3-25 P {
  text-align: left;
  color: #eff200;
  font-size: 25px;
}
#contacts3-25 STRONG {
  color: #ffffff;
  font-size: 30px;
}
#footer1-30 P {
  text-align: center;
  color: #eff200;
  font-size: 17px;
}
#msg-box1-3e H2 {
  text-align: center;
  color: #eff200;
  font-size: 36px;
}
#menu-28 .navbar-toggler {
  color: #fff8e0;
}
#msg-box1-2c H2 {
  text-align: left;
  color: #ffffff;
  font-size: 36px;
}
#msg-box1-2c B {
  color: #ffffff;
}
#msg-box1-2c I {
  color: #eff200;
  font-size: 25px;
}
#footer1-30 P {
  text-align: center;
  color: #eff200;
  font-size: 17px;
}
